src/MapClient/node_modules
src/MapClient/dist
src/CommunicationControl/.idea
src/CommunicationControl/.vs
bin
obj
Logs
.vscode
build
src/CommunicationControl/DevOpsProject.sln.DotSettings.user
src/CommunicationControl/DevOpsProject.sln.DotSettings.user
src/CommunicationControl/DevOpsProject.sln.DotSettings.user
deployment/infrastructure/secrets/gitlab-cr.secret.sh:4
src/CommunicationControl/DevOpsProject/appsettings.json:3